<div class="container">
	<form class="form-submit bs-example" action="/submit" method="POST" data-toggle="validator">
		<H1>Patternform Scraper</H1>

	    <div class="form-group">
	        <input type="input" name="email" class="form-control" id="inputEmail" placeholder="Email" required>     	    
	    </div>

	    <div class="form-group">
	        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required>
	    </div>	

		<div class="form-group">

	        <div class="radio">
			  <label><input type="radio" name="optradio" value="pttn" checked>PatternForm</label>
			</div>

			<div class="radio">
			  <label><input type="radio" name="optradio" value="mny">MoneyForm</label>
			</div>

	    </div>

		<div class="form-group">
	        <input type="date" class="form-control" id="inputDate" name="date" placeholder="dd/mm/yyyy" required>
	    </div>

		<div class="loginControl">
			<button type="submit" class="btn btn-lg btn-primary btn-block">Go</button>
		</div>
	    
	</form>

</div>

<script src="js/submit.js"></script>